:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clock {
    @apply w-36 h-36 border-4 border-gray-800 rounded-full relative bg-gray-50 shadow-inner;
  }
  .clock-hand {
    @apply absolute bottom-1/2 left-1/2 transform-gpu origin-bottom transition-transform duration-200;
  }
  .hour-hand {
    @apply clock-hand w-1 h-[35px] -ml-0.5 bg-blue-600;
  }
  .minute-hand {
    @apply clock-hand w-0.5 h-[50px] -ml-0.5 bg-gray-600;
  }
  .second-hand {
    @apply clock-hand w-0.5 h-[60px] -ml-0.5 bg-red-600;
  }
  .center-dot {
    @apply absolute top-1/2 left-1/2 w-3 h-3 -mt-1.5 -ml-1.5 bg-red-600 border-2 border-gray-800 rounded-full;
  }
}
